version: 1


formatters:
  simple:
    format: '%(message)s'


handlers:
  clogfile:
    backupCount: 10
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    delay: true
    filename: /dev/null
    formatter: simple
    level: NOTSET
    maxBytes: 2147483648

  console:
    class: logging.StreamHandler
    formatter: simple
    level: NOTSET
    stream: ext://sys.stdout

  Exp_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  LevelUp_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Currency_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Object_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  HeroUpStar_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  HeroWake_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Train_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Manufacture_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  ExchangeCurrency_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Market_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  UnlockPack_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  FriendSys_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  SevenDay_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Sign_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  LevelReward_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  GiftBag_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  AutoObj_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Trade_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  TradeOperate_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  UseDrug_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Guild_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple


  Task_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  GuildFinance_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  SGRoom_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  ChangeTask_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Online_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Team_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Mail_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  DoublePoint_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  PKRank_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  ChangeLine_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  ChangeMap_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple


  OnVehicle_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  PublishMaster_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  EducationChanged_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  OverApprentice_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  ThanksLetter_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  DailyTaskReward_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  MissionStatus_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  ThanksLetterReward_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  ThanksLetterFeedback_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  FastMatch_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  SevenGoal_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Achievement_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  PlayerVatility_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  ApprenticeVitality_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  AnswerQuestTool_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  QuitPlotMap_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  ChangeHero_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple


  PlayerDeath_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  PlayerMatch_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  RegainAward_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  FinishFight_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  UserDispatch_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  GuildVitality_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  AddApprentice_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  PlayerGuild_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  AddPotencyExp_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  GetEquipObject_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  OpEquipWithEquipPage_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  ChangeEquipPageName_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  ChangeHeroEquipPage_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  AddEquipPage_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  DayOnlineTime_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Login_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Logout_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  EquipStrengthUp_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  SwitchEquipStrength_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  SuccRewardDrop_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  PolishEquip_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  ActiveEquipPolish_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  IdentifyEquip_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  UserActivity_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  GuildPartyStart_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  GuildPartyOP_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  SaveUser_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  TillDie_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  DrawLottery_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Recharge_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  MakeObj_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  ObserveOtherUser_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  GuildNewSkill_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  DonateGuildResource_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  UserAttr_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  MonthCard_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  MonthCardReward_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple

  Compose_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775808
    backupCount: 2147483648
    delay: true
    filename: /dev/null
    formatter: simple


loggers:
  main:
    handlers: [clogfile]
    level: NOTSET
    propagate: true

  Exp:
    handlers: [Exp_handler]
    level: NOTSET
    propagate: false

  LevelUp:
    handlers: [LevelUp_handler]
    level: NOTSET
    propagate: false

  Currency:
    handlers: [Currency_handler]
    level: NOTSET
    propagate: false

  Object:
    handlers: [Object_handler]
    level: NOTSET
    propagate: false

  HeroUpStar:
    handlers: [HeroUpStar_handler]
    level: NOTSET
    propagate: false

  HeroWake:
    handlers: [HeroWake_handler]
    level: NOTSET
    propagate: false

  Train:
    handlers: [Train_handler]
    level: NOTSET
    propagate: false

  Manufacture:
    handlers: [Manufacture_handler]
    level: NOTSET
    propagate: false

  ExchangeCurrency:
    handlers: [ExchangeCurrency_handler]
    level: NOTSET
    propagate: false

  Market:
    handlers: [Market_handler]
    level: NOTSET
    propagate: false

  UnlockPack:
    handlers: [UnlockPack_handler]
    level: NOTSET
    propagate: false

  FriendSys:
    handlers: [FriendSys_handler]
    level: NOTSET
    propagate: false

  SevenDay:
    handlers: [SevenDay_handler]
    level: NOTSET
    propagate: false

  Sign:
    handlers: [Sign_handler]
    level: NOTSET
    propagate: false

  LevelReward:
    handlers: [LevelReward_handler]
    level: NOTSET
    propagate: false

  GiftBag:
    handlers: [GiftBag_handler]
    level: NOTSET
    propagate: false

  AutoObj:
    handlers: [AutoObj_handler]
    level: NOTSET
    propagate: false

  Trade:
    handlers: [Trade_handler]
    level: NOTSET
    propagate: false

  TradeOperate:
    handlers: [TradeOperate_handler]
    level: NOTSET
    propagate: false

  UseDrug:
    handlers: [UseDrug_handler]
    level: NOTSET
    propagate: false

  Guild:
    handlers: [Guild_handler]
    level: NOTSET
    propagate: false

  Task:
    handlers: [Task_handler]
    level: NOTSET
    propagate: false

  GuildFinance:
    handlers: [GuildFinance_handler]
    level: NOTSET
    propagate: false

  SGRoom:
    handlers: [SGRoom_handler]
    level: NOTSET
    propagate: false

  ChangeTask:
    handlers: [ChangeTask_handler]
    level: NOTSET
    propagate: false

  Online:
    handlers: [Online_handler]
    level: NOTSET
    propagate: false

  Team:
    handlers: [Team_handler]
    level: NOTSET
    propagate: false

  Mail:
    handlers: [Mail_handler]
    level: NOTSET
    propagate: false

  DoublePoint:
    handlers: [DoublePoint_handler]
    level: NOTSET
    propagate: false

  PKRank:
    handlers: [PKRank_handler]
    level: NOTSET
    propagate: false

  ChangeLine:
    handlers: [ChangeLine_handler]
    level: NOTSET
    propagate: false

  ChangeMap:
    handlers: [ChangeMap_handler]
    level: NOTSET
    propagate: false

  OnVehicle:
    handlers: [OnVehicle_handler]
    level: NOTSET
    propagate: false

  PublishMaster:
    handlers: [PublishMaster_handler]
    level: NOTSET
    propagate: false

  EducationChanged:
    handlers: [EducationChanged_handler]
    level: NOTSET
    propagate: false

  OverApprentice:
    handlers: [OverApprentice_handler]
    level: NOTSET
    propagate: false

  ThanksLetter:
    handlers: [ThanksLetter_handler]
    level: NOTSET
    propagate: false

  DailyTaskReward:
    handlers: [DailyTaskReward_handler]
    level: NOTSET
    propagate: false

  MissionStatus:
    handlers: [MissionStatus_handler]
    level: NOTSET
    propagate: false

  ThanksLetterReward:
    handlers: [ThanksLetterReward_handler]
    level: NOTSET
    propagate: false

  ThanksLetterFeedback:
    handlers: [ThanksLetterFeedback_handler]
    level: NOTSET
    propagate: false

  FastMatch:
    handlers: [FastMatch_handler]
    level: NOTSET
    propagate: false

  SevenGoal:
    handlers: [SevenGoal_handler]
    level: NOTSET
    propagate: false

  Achievement:
    handlers: [Achievement_handler]
    level: NOTSET
    propagate: false

  PlayerVatility:
    handlers: [PlayerVatility_handler]
    level: NOTSET
    propagate: false

  ApprenticeVitality:
    handlers: [ApprenticeVitality_handler]
    level: NOTSET
    propagate: false

  AnswerQuestTool:
    handlers: [AnswerQuestTool_handler]
    level: NOTSET
    propagate: false

  QuitPlotMap:
    handlers: [QuitPlotMap_handler]
    level: NOTSET
    propagate: false

  ChangeHero:
    handlers: [ChangeHero_handler]
    level: NOTSET
    propagate: false

  PlayerDeath:
    handlers: [PlayerDeath_handler]
    level: NOTSET
    propagate: false

  PlayerMatch:
    handlers: [PlayerMatch_handler]
    level: NOTSET
    propagate: false

  RegainAward:
    handlers: [RegainAward_handler]
    level: NOTSET
    propagate: false

  FinishFight:
    handlers: [FinishFight_handler]
    level: NOTSET
    propagate: false

  UserDispatch:
    handlers: [UserDispatch_handler]
    level: NOTSET
    propagate: false

  GuildVitality:
    handlers: [GuildVitality_handler]
    level: NOTSET
    propagate: false

  AddApprentice:
    handlers: [AddApprentice_handler]
    level: NOTSET
    propagate: false

  PlayerGuild:
    handlers: [PlayerGuild_handler]
    level: NOTSET
    propagate: false

  AddPotencyExp:
    handlers: [AddPotencyExp_handler]
    level: NOTSET
    propagate: false

  GetEquipObject:
    handlers: [GetEquipObject_handler]
    level: NOTSET
    propagate: false

  OpEquipWithEquipPage:
    handlers: [OpEquipWithEquipPage_handler]
    level: NOTSET
    propagate: false

  ChangeEquipPageName:
    handlers: [ChangeEquipPageName_handler]
    level: NOTSET
    propagate: false

  ChangeHeroEquipPage:
    handlers: [ChangeHeroEquipPage_handler]
    level: NOTSET
    propagate: false

  AddEquipPage:
    handlers: [AddEquipPage_handler]
    level: NOTSET
    propagate: false

  DayOnlineTime:
    handlers: [DayOnlineTime_handler]
    level: NOTSET
    propagate: false

  Login:
    handlers: [Login_handler]
    level: NOTSET
    propagate: false

  Logout:
    handlers: [Logout_handler]
    level: NOTSET
    propagate: false

  EquipStrengthUp:
    handlers: [EquipStrengthUp_handler]
    level: NOTSET
    propagate: false

  SwitchEquipStrength:
    handlers: [SwitchEquipStrength_handler]
    level: NOTSET
    propagate: false

  SuccRewardDrop:
    handlers: [SuccRewardDrop_handler]
    level: NOTSET
    propagate: false

  PolishEquip:
    handlers: [PolishEquip_handler]
    level: NOTSET
    propagate: false

  ActiveEquipPolish:
    handlers: [ActiveEquipPolish_handler]
    level: NOTSET
    propagate: false

  IdentifyEquip:
    handlers: [IdentifyEquip_handler]
    level: NOTSET
    propagate: false

  UserActivity:
    handlers: [UserActivity_handler]
    level: NOTSET
    propagate: false

  GuildPartyStart:
    handlers: [GuildPartyStart_handler]
    level: NOTSET
    propagate: false

  GuildPartyOP:
    handlers: [GuildPartyOP_handler]
    level: NOTSET
    propagate: false

  SaveUser:
    handlers: [SaveUser_handler]
    level: NOTSET
    propagate: false

  TillDie:
    handlers: [TillDie_handler]
    level: NOTSET
    propagate: false

  DrawLottery:
    handlers: [DrawLottery_handler]
    level: NOTSET
    propagate: false

  Recharge:
    handlers: [Recharge_handler]
    level: NOTSET
    propagate: false

  MonthCard:
    handlers: [MonthCard_handler]
    level: NOTSET
    propagate: false

  MonthCardReward:
    handlers: [MonthCardReward_handler]
    level: NOTSET
    propagate: false

  UserAttr:
    handlers: [UserAttr_handler]
    level: NOTSET
    propagate: false

  Compose:
    handlers: [Compose_handler]
    level: NOTSET
    propagate: false

  MakeObj:
    handlers: [MakeObj_handler]
    level: NOTSET
    propagate: false

  ObserveOtherUser:
    handlers: [ObserveOtherUser_handler]
    level: NOTSET
    propagate: false

  GuildNewSkill:
    handlers: [GuildNewSkill_handler]
    level: NOTSET
    propagate: false

  DonateGuildResource:
    handlers: [DonateGuildResource_handler]
    level: NOTSET
    propagate: false


root:
  handlers: [console]
  level: NOTSET
